@page
@model Iwanttodie.Pages.Books.Delete
@{
    ViewData["ShowFooter"] = true; 
}

<h1>@ViewData["Title"]</h1>

<div class="mx-auto rounded border p-4" style="width: 400px">
    <h2 class="text-center mb-3">Delete Book?</h2>
    <hr />
    <p>Are you sure you wish to delete?</p>
     
    <p>Book Id=@Request.Query["id"]</p>
    <hr />

    <form method="post">
        <div class="row">
            <div class="col-sm-6 d-grid">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
            <div class="col-sm-6 d-grid">
                <a class="btn btn-outline-danger" href="/Books/Index">Cancel</a>
            </div>
        </div>
    </form>
</div>