@page 
@model Iwanttodie.Pages.Books.Edit
@{
    ViewData["Title"] = "Edit";
    ViewData["ShowFooter"] = true; 
}


    <div>
    <div class="col-md-8 mx-auto rounded border p-4">
        <h2 class="text-center mb-5">Edit Book</h2>


        @if(Model.ErrorMessage.Length>0)
        {
            <div class="alert alert-danger alert-dissmisable fade show" role="alert"></div>
            <string>@Model.ErrorMessage</string>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        }

        <form method="post">

             <div class="row mb-3 ">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly asp-for="Id">
                </div>
            </div>



            <div class="row mb-3 ">
                <label class="col-sm-4 col-form-label">Title</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3 ">
                <label class="col-sm-4 col-form-label">Author</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Author"/>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3 ">
                <label class="col-sm-4 col-form-label">Genre</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Genre"/>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3 ">
                <label class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Price"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3 ">
                <label class="col-sm-4 col-form-label">Quantity</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Quantity"/>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">

                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Books/Index" role="button">Cancel</a>
                </div>
            </div>

        </form>

    </div>
</div> 

